[Unit]
Description=W7HAK Go Box Telemetry Service
After=multi-user.target network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/W7HAK-gobox/scripts/telemetry.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
